* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: rgba(198, 198, 255, 0.76);
}

a{
    text-decoration: none;
}

h2{
    text-align: center;
    color: #C52422;
    font-size: 30px;
    margin: 40px 0 20px 0;
}

h3{
    color: #C52422;
}

p{
    color: #171796;
}

hr{
    color: #C52422;
}

/* ESTILOS DEL HEADER Y LA BARRA DE NAVEGACIÓN */

header{
    position: sticky;
    top: 0;
    background-color: #C52422;
}

[id] {
    scroll-margin-top: 9ex;
}

.top{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    width: 60px;
    padding: 10px;
}

.nav-link{
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding-bottom: 5px;
}

.nav-link:hover{
    border-bottom: 2px solid white;
}

/* ESTILOS DEL HERO */

.hero{
    background-image: url("https://wallpaperaccess.com/full/2113279.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 50vh;
}

.hero2{
    background-color: rgba(0, 0, 0, 0.411);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    color: white;
    display: flex;
    flex-direction: column;
}

legend{
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}
.campos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 20%;
}

#email{
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgb(253, 242, 242);
}

#submit{
    width: 100px;
    margin: auto;
    padding: 7px;
    background-color: #C52422;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: white solid 1px;
    border-radius: 5px;
}

#submit:hover{
    cursor: pointer;
    background-color: white;
    color: #C52422;
    border: #C52422 solid 1px;
}

/* ESTILOS DE LA SECCIÓN EQUIPO */

.equipo{
    padding: 0px 10% 40px;
}

.jugadores{
    display: grid;
    grid-template-columns: 1fr 8fr;
    padding: 20px 0;
}

@media (max-width: 700px) { 
    .jugadores{
        grid-template-columns: 1fr 4fr;
    }
}

i{
    font-size: 40px;
    color: #C52422;
}

/* ESTILOS DE LA SECCIÓN VIDEO */

.somos{
background-color: #C52422;
padding: 20px 10% 60px;
}

.somos h2, .somos p{
    color: white;
}

.video{
    display: flex;
    justify-content: center;
}

iframe{
    width: 853px;
    height: 440px;
}

@media (max-width: 650px) { 
    iframe{
        height: 280px;
    }
}

/* ESTILOS DE LA SECCION TROFEOS */

.seccion_trofeos{
    margin: 40px 10%;
}

.contenedor_trofeos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 50px;
}

@media (max-width: 1000px) { 
    .contenedor_trofeos{
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
    }
}

@media (max-width: 750px) { 
    .contenedor_trofeos{
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
    }
}

@media (max-width: 400px) { 
    .contenedor_trofeos{
        grid-template-columns: 1fr;
    }
}

.trofeos{
    border: solid 2px #C52422;
    margin-top: 40px;
}

.trofeos h3, .trofeos p{
    text-align: center;
    color: #111;
}

.trofeos h3{
    color: white;
    background-color: #C52422;
    padding: 10px 20px;
    margin-bottom: 15px;
}

.subtitulo{
    font-weight: bold;
    font-size: 18px;
}

.boton_trofeos{
    display: block;
    margin: 10px auto;
    padding: 7px;
    width: 100px;
    background-color: #C52422;
    color: white;
    border: white solid 1px;
    border-radius: 5px;
    font-weight: bold;
}

.boton_trofeos:hover{
    cursor: pointer;
    background-color: white;
    color: #C52422;
    border: #C52422 solid 1px;
}

.imagen_trofeos{
    max-width: 100vw;
}

.img_trof{
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

/* ESTILOS DEL FOOTER */

footer{
    background-color: #C52422;
    color: white;
    padding: 30px 10%;
    display: flex;
    flex-direction: column;
}

.enlaces_footer {
    display: inline;
    color: white;
    text-decoration: none;
    padding-right: 20px;
}

.enlaces_footer:hover{
    color: pink;
}

.copy{
    margin-top: 10px;
    color: pink;
}